/* ------------------------------------------------------ GENERAL STYLES ------------------------------------------------------ */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main {
    margin-top: var(--space-extra-large);
    margin-bottom: var(--space-extra-large);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-large);
    width: 100%;
    max-width: 1512px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 var(--space-large);
    overflow: hidden;
    padding-bottom: var(--space-large);
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-large);
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: auto;
}

.four-column {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
    align-items: center;
    max-width: 1512px;
    box-sizing: border-box;
}

.two-column-styled {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--space-large);
    align-items: center;
}

/* ----- BUTTON ----- */

.button {
    background-color: var(--green-secondary);
    font-family: var(--font-family);
    font-size: var(--space-regular);
    font-weight: var(--font-style-bold);
    padding: var(--space-regular) var(--space-large);
    border: none;
    border-radius: var(--space-small);
    cursor: pointer;
    height: var(--space-large);
    width: 210px;
}

.button:hover {
    background-color: var(--green-primary);
    color: var(--green-secondary);
}

/* ----- NAV BAR ----- */
.nav-bar {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 0 var(--space-large);
    justify-content: space-between;
    align-items: center;
    background-color: var(--green-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: var(--space-large);
    color: var(--white);
    font-size: var(--font-small);
    font-weight: var(--font-style-normal);
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    gap: var(--space-large);
}

.menu-text {
    color: var(--white);
    font-size: var(--font-small);
    font-weight: var(--font-style-normal);
    text-decoration: none;
}

.menu-text:hover {
    font-weight: var(--font-style-bold);
    color: var(--green-secondary);
}

/* ----- HEADER ----- */
.header-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-regular);
}

.title {
    font-family: var(--font-family);
    font-size: var(--font-xxlarge);
    color: var(--black);
    margin: 0;
    padding: 0;
}

.body {
}

/* ----- FOOTER ----- */
.footer {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 0 var(--space-large);
    justify-content: space-between;
    align-items: center;
    background-color: var(--green-900);
}

.footer .two-column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.footer-text {
    color: var(--white);
    text-align: right;
    margin-left: auto;
}

/* ------------------------------------------------------ VARIABLES ------------------------------------------------------ */
:root {
    /* ----- COLORS ----- */
    --green-primary: #18372f;
    --green-50: #e8ebea;
    --green-900: #0a1714;
    --white: #ffffff;
    --black: #141414;
    --grey-400: #434343;
    --green-secondary: #88bf47;
    --orange-secondary: #f36c2c;
    --neutral-secondary: #eeecdf;

    /* ----- TYPE ----- */
    --font-family: "Roboto", sans-serif;
    --font-xxlarge: 88px;
    --font-large: 30px;
    --font-medium: 24px;
    --font-regular: 20px;
    --font-small: 16px;

    --font-style-normal: normal;
    --font-style-bold: bold;

    --line-height-xxlarge: 100px;
    --line-height-large: 36px;
    --line-height-medium: 28px;
    --line-height-small: 20px;

    /* ----- SPACING ----- */
    --space-small: 8px;
    --space-regular: 16px;
    --space-medium: 32px;
    --space-large: 48px;
    --space-extra-large: 140px;
}
